{% extends "base.html" %}
{% load static %}
{% block css_custom %}
  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'jquery/flipclock/css/flipclock.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/highlight/css/solarized-dark.css' %}">
  <link rel="stylesheet" href="{% static 'coop_auth/css/custom.css' %}">
{% endblock %}
{% block js_custom %}
    <!-- JS Customization -->
    <script src="{% static 'jquery/flipclock/js/flipclock.min.js' %}"></script>
    <script src="{% static 'jquery/highlight/js/highlight.pack.js' %}"></script>
    <script src="{% static 'coop_auth/js/custom.js' %}"></script>
{% endblock %}

{% block content %}
    <script>
       var myexpire_in = "{{ expire_in }}";
    </script>
<!--=== Content Part ===-->
<!--=== Content Part ===-->
  <div class="container content">
   <div class="row">

    <div class="col-md-6">
     <h2 class="title-v2">OAuth2 in 8 Steps
     <small>Implementation in Python/Django</small>
     </h2>
      <div class="row margin-bottom-40">
        <div class="alert alert-info fade in">
          <h4>Authorization Server</h4>
            <p>
            The server issuing access tokens to the client after successfully
            authenticating the resource owner and obtaining authorization.
             </p>
            <p>
        (A)  The client requests authorization from the resource owner.  The
             authorization request can be made [...] indirectly via the
             authorization server as an intermediary.
             </p>
            <p>
        (B) The client receives an authorization grant, which is a
            credential representing the resource owner's authorization.
             </p>
            <p>
            
            <strong>The Authorization grant will be send from the Authorization
              Server to the Client via the </strong><code>redirect_uri</code>
             </p>
            <p>
      (C)  The client requests an access token by authenticating with the
            authorization server and presenting the authorization grant.
             </p>
             <p>
             <pre><code class='JSON'>
    data = {
        'client_id': 'Script_with_auth',
        'client_secret': 'fb765bad414da309eb7fc04bd1c2fac9',
        'grant_type':'authorization_code',
        'code': code,
        'redirect_uri': 'http://localhost:9000/auth'
    }
             </code></pre>
             </p>
        </div>    
   </div>
    {% if access_token_valid %}
      <!-- Start Counter -->
      <!-- End Counter -->
      <div class="row margin-bottom-40">
       <a href="https://knpuniversity.com/screencast/oauth" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
       <a href="{% url 'mycoop' %}" class="btn-u" id="check_mycoop">Check my Coop state</a>
       <a href="{{ url }}" class="btn-u btn-u-sea">Renew my Access Token</a>
    </div>
      <div class="row margin-bottom-40">
       <div class="headline"><h2>The Access Token will expire in:</h2></div>
       <div class="your-clock"></div>
      </div>
    {% else %}

      <div class="row margin-bottom-40">
       <div class="headline"><h2>The Access Token has expired!</h2></div>
      </div>
      <a href="{{ url }}" class="btn btn-danger">Authorize</a>
    {% endif %}

    </div>
    <div class="col-md-6">

      <!--== header Counter== -->
      <!-- Counters -->
      <div class="main-counters margin-bottom-40">
       <div class="headline"><h2>Eggs</h2></div>
      <!--== Counter== -->
      <div class="row margin-bottom-40">

        <div class="counters col-md-3 col-sm-3">
         <span class="counter" id="collect_eggs"></span>
         <h4>Eggs Collected</h4>
        </div>

        <div class="counters col-md-3 col-sm-3">
         <span class="counter" id="total_eggs"></span>
         <h4>Total Eggs Collected</h4>
       </div>

        <blockquote>
        <p><em id='chicken_message'></em></p>
        <p><em id='chicken_message2'></em></p>
        </blockquote>

      </div> <!-- end row -->
  </div> <!-- end main-counters -->
<div class="contex-bg">
  <p class="bg-warning rounded">last update: <span id='last_update'></span>
  </p>
</div>
  </div> <!-- end col-md-6 -->
</div> <!-- end row -->
  </div> <!-- end container -->
  <!--/container-->
  <!--=== End Content Part ===-->
{% endblock %}

